@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import "common.css";

html body {
  font-family: "Nunito", sans-serif;
  background-color: var(--bg) !important;
  background-image: url("layer0-space.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
